apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-jhvkxwvs
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-jhvkxwvs:384ef026673cd2e87d88a8607c1fbf460f248bf4@sha256:64e9d5007357a0ed4efa996080895c6f58e10085c506ae3ad70570fa4a865758
        name: container-image  
